/* Global Styles  */
@font-face {
  font-family: headerFont;
  src: url(./fonts/aliens_and_cows/aliens\ and\ cows_trial.ttf);
}

@font-face {
  font-family: textFont;
  src: url(./fonts/Quicksand-Font/Quicksand_Book.otf);
}
html * {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #000;
  color: #fff;
}

/*  End Of Global Styles  */

/* Header Section Style  */

#main_Header {
  display: flex;
  justify-content: space-around;
  margin: 0.6em;
  padding: 1em;
  font-family: "boldFont";
  width: 100%;
}

#main_Header h1 {
  font-family: "headerFont";
  color: rgb(251, 243, 126);
  font-size: 4em;
}

.nav_Bar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1em;
  width: 50%;
  font-size: 1em;
}

.nav_Bar li:hover {
  color: gold;
  transition: all 1s ease-in;
  cursor: pointer;
  font-size: 0.9em;
}

/* End Of Header Section Style  */

/* Seciont Overlay Styles   */

.contain_img {
  width: 100%;
  height: 100% !important;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  padding: 6em;
  color: #000;
}

.contain_img h2 {
  display: block;
  text-align: center;
  font-family: "headerFont";
  font-size: 4em;
  padding-top: 20px;
  padding-bottom: 0.4em;
}

.contain_img p {
  width: 70%;
  line-height: 1.3em;
  padding: 2em;
  font-family: "textFont";
  font-size: 1em;
  text-align: center;
}

.contain_img img {
  position: relative;
  z-index: -2;
  right: 40%;
  left: -25%;
}

#rightText {
  width: 60%;
  padding: 8em 0 8em 0;
  margin: 0;
  background: #fff;
  position: absolute;
  left: 40%;
  top: 45%;
}

/* End Of Seciont Overlay Styles   */

/* Image Offset Section Styles  */

.contain_offset {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh !important;
  padding-top: 3em;
  margin: 25em 0em 5em 0em;
  position: relative;
  z-index: -2;
  background: rgb(37, 37, 37);
}

#leftBox {
  width: 40%;
  margin: 0;
  position: absolute;
  left: 40%;
  top: 35%;
}

.contain_offset h2 {
  display: block;
  text-align: center;
  font-family: "headerFont";
  line-height: 1em;
  font-size: 4em;
  padding-top: 2.2em;
  padding-bottom: 0.4em;
  position: absolute;
  left: 9%;
}

.contain_offset p {
  width: 50%;
  position: relative;
  right: 4%;
  margin-left: 4em;
  line-height: 1.5em;
  padding: 3em 6em 2em 6em;
  font-family: "textFont";
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
}

.contain_offset img {
  position: relative;
  z-index: -2;
  right: 0%;
  left: -4%;
  top: -10%;
}

.imgOne {
  transform: rotate(354deg);
}

.imgTwo {
  transform: rotate(15deg);
  margin-top: 12em;
}

/*   This Is For Fade In On Scroll Js Animation  */

/* .contain_img {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.contain_img.appear {
  opacity: 1;
} */

/*   This Is For Fade In On Scroll Js Animation !!!!!!  */

/* End Of Image Offset Section Styles  */

/* Footer Section Styles */

#mainFoot {
  width: 100%;
  height: 10vh;
  text-align: center;
  font-family: "textFont";
  font-size: 0.8em;
  letter-spacing: 0.4em;
}

/* End Of Footer Section Styles */
